footer {
  position: fixed;
  bottom: 0px;
  border-top: 1px solid seashell;
  padding-top: 10px;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 12px;
  margin-top: 12px;
}
.nav__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 8px 0 8px;
  width: 100vw;
  cursor: pointer;
}

.nav__icons__des {
  margin-top: 2px;
  font-size: 10px;
  font-weight: bold;
  transform: scale(1.5);
}

.nav__icons__img {
  width: 80px;
}

@keyframes icon-move {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.nav__icons:hover .nav__icons__img {
  animation: 2s icon-move;
}
